<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CV</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="col-2">
        <a th:href="@{/cv/add}" class="btn btn-primary">Add CV</a>
    </div>
    <br>
    <div class="row" th:each="cv: ${cvs}">
        <div class="col-4">
            <img style="max-width: 50%; height: 150px" class="image-fluid rounded" th:src="@{/cv/file/{id} (id=${cv.id})}" >
        </div>
        <div class="col-7">
            <h2>
                <br>
                <span th:text="${cv.firstName}"></span>
                <span th:text="${cv.lastName}"></span>
            </h2>
        </div>
        <div class="col-1">
            <br>
            <a th:href="@{/cv/view/{id} (id=${cv.id})}" class="btn btn-primary">Open</a>
        </div>
    </div>
</div>
</body>
</html>